<mat-card [@fadeInState]="stateName">
  <mat-card-title>INTERIOR CROCODILE ALLIGATOR</mat-card-title>
  <mat-card-subtitle>It do be like that sometimes</mat-card-subtitle>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima totam
    repellendus eos corporis, reiciendis hic corrupti consequatur natus tenetur.
    Delectus, excepturi. Modi eaque nihil accusantium aliquid ipsa voluptatibus
    aspernatur unde? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Doloremque fuga ad deserunt amet quod tempore dicta esse ut perspiciatis
    velit assumenda vitae rerum magni, nisi dolore molestiae blanditiis libero
    tenetur!
  </mat-card-content>
  <img mat-card-image src="./../../assets/images/image1.svg" />
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima totam
    repellendus eos corporis, reiciendis hic corrupti consequatur natus tenetur.
    Delectus, excepturi. Modi eaque nihil accusantium aliquid ipsa voluptatibus
    aspernatur unde? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Doloremque fuga ad deserunt amet quod tempore dicta esse ut perspiciatis
    velit assumenda vitae rerum magni, nisi dolore molestiae blanditiis libero
    tenetur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat
    cupiditate in, alias eligendi labore soluta quae cumque asperiores. Totam
    laborum incidunt odit quia aperiam iusto rem ex nihil neque cum!
  </mat-card-content>
</mat-card>
