<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Homepage</a>
      <a mat-list-item routerLink="/info-card">Info Card</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <img
      class="menu-button"
      src="https://image.flaticon.com/icons/png/512/59/59660.png"
      (click)="opened = !opened"
    />
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
