mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  padding: 1em;
}

mat-sidenav {
  background-color: #eb1da6;
  font-size: 1.5em;
  width: 8em;

  mat-toolbar {
    background-color: #eb1da6;
  }
}

.menu-button {
  height: 50px;
  width: 50px;
}
