.homepage-content {
  text-align: center;
  width: 30em;
  padding: 2em 3em;
  margin: auto;
}

.title-content {
  @extend .homepage-content;
}

.text-content {
  @extend .homepage-content;
  margin-top: 2em;
}

.images {
  @extend .homepage-content;

  img {
    width: 100%;
    padding: 0;
    margin: 5em auto;
  }
}
