<div class="title-content" [@fadeInState]="stateName">
  <h1>Welcome to this page</h1>
  <p>Why not have a cup of tea?</p>
</div>

<div class="text-content" [@fadeInState2]="stateName2">
  <h3>Lorem ipsum dolor sit amet</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt delectus
    laborum dignissimos obcaecati cumque, vero ad dicta ipsum! Ex, ducimus. Qui
    illo dolorem magni repudiandae temporibus sit fugiat maiores cum.
  </p>
</div>

<div class="images" [@fadeInState3]="stateName3">
  <img
    src="https://www.materialui.co/materialIcons/action/assessment_black_144x144.png"
    alt="some svg"
  />
  <img
    src="https://www.materialui.co/materialIcons/action/assignment_black_144x144.png"
    alt="some svg"
  />
  <img
    src="https://www.materialui.co/materialIcons/action/announcement_black_144x144.png"
    alt="some svg"
  />
</div>
